header{
    font-family: 'Coral Pixels';
    display: flex;
    justify-content: center;
    font-size: 40px;
    background-image: url(../image/peach-blossoms-8611337_1280.jpg); 
    background-repeat: ;
    background-position: center;
    


}

nav ul {
    display: flex;
    justify-content:center;
    gap:60px; 
    list-style: none;
    background-color: rgba(226, 43, 217, 0.493); 
    margin: 0;
    border-style: double;
}


nav ul li a {
    text-decoration: none;
    font-family: 'Cal Sans'; color: black;
    
}

nav ul li a:hover {
    color: blanchedalmond ;
    transition: 0.4s;
}

html {
    background-color:rgba(157, 20, 220, 0.336);
    scroll-behavior: smooth;
}

article{
    font-family: 'Cal Sans';
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 20px; 
    
}

article p{
    font-family: 'Montserrat';
}

section{
    font-family: 'Cal Sans' ;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items:center ;
    margin: 20px;
}

section p{
    font-family: 'Montserrat' ;
}

section ol{
    font-family: 'Montserrat'; font-weight: 500;
}

picture image{
    display: flex;
    justify-content: center;
    border-style:dashed;

}

aside {
    font-family: 'Cal Sans';
}

aside h3 {
    background-color: rgba(111, 170, 209, 0.486);
    margin:0;
    margin-top: 30px;
    border-style: dashed;
}

aside h3 {
    display: flex;
    justify-content: center;
}

aside nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

aside nav ul a {
    text-decoration: none;
    margin-top: 0;
    display: flex;
    justify-content: center;
    cursor:crosshair;
    
}

aside nav li a:hover{
    text-decoration: solid;
    color: azure;

}

footer {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat'; font-weight: 500;
}

article picture {
    display: flex;
    justify-content: center;
}
article h2 {
    display: flex;
    justify-content: center;
}

article p {
    display: flex;
    justify-content: center;
}

main{
    display: flex;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
